
.prlock {
	height: 37px;
	width: 37px;
	margin: auto;
	padding: 10px;
}

.xbutton {
  background-color: #ef2922ea;
  border-radius: 7px;
  height: 23px;
  width: 23px;
  border: 0px;
  color: white;
  font-size: 17px;
  float: right;
  font-weight: bold;
  margin: 9px;
}
